<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
        {% block more_styles %}{% endblock %}
        <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
        {% block more_scripts %}{% endblock %}
    </head>

    <body>
        <!-- Display any flash messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-dismissible alert-{{ category }}">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="single-page-split">
            <div id="navbar"> 
                <a class="navbar_item" id="navbar_home" href="{{ url_for('home_page') }}">Home</a>
                <a class="navbar_item" id="navbar_expenses" href="expenses.html">Expenses</a>
                <a class="navbar_item" id="navbar_budget" href="{{ url_for('budgets') }}">Budget</a>
                <a class="navbar_item" id="logout" href="{{ url_for('apis.logout') }}">Logout</a>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
