{% extends "base.html" %}
{% block more_styles %}    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/budgets_display.css') }}">
{% endblock %}
{% block more_scripts %}
    <script src="{{ url_for('static', filename='js/aj_budgets_display.js') }}"></script>
{% endblock %}
{% block title %}
    <title>Display Budget</title>
{% endblock %}
{% block navbar %}
    
{% endblock %}
{% block content %}
<h1>Display Budget</h1>
    <table id="budget_table">
        <tr>
            <th>Budget Title</th>
            <th>Amount Budgeted</th>
            <th>Amount Spent</th>
            <th>Remainder/Excess</th>
        </tr>
    </table>
<button id="back_button">Back</button>
{% endblock %}
    
