<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/budgets_display.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aj_budgets_display.js') }}"></script>
    <title>Display Budget</title>
</head>
<body>
    <h1>Display Budget</h1>
    
    <table id="budget_table">
        <tr>
            <th>Budget Title</th>
            <!-- <th>Item Name</th> -->
            <th>Amount Budgeted</th>
            <th>Amount Spent</th>
            <th>Remainder/Excess</th>
        </tr>
    </table>
    <button id="back_button">Back</button>
</body>
</html>
