<!-- inherit from the base template -->
{% extends "base.html" %}

{% block more_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/budgets.css') }}">
{% endblock %}

{% block more_scripts %}
    <script src="{{ url_for('static', filename='js/budgets.js') }}"></script>
{% endblock %}

{% block title %}budgets{% endblock %}
{% block content %}
    <p class="instruction-heading">Welcome to the budget creator, simplified budgeting for all your needs, get started by clicking the button below!</p>
    <div id="budget_button">
        <button id="create_budget">Create New Budget</button>
    </div>
    <script>
        $(document).ready(function(){
            $('#create_budget').click(function(){
                window.location.href = "{{ url_for('create_budget') }}";
            });
        });
    </script>
{% endblock %}
