{% extends "base.html" %}

{% block title %}Create Budget{% endblock %}

{% block more_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/budgets_create.css') }}">
{% endblock %}

{% block more_scripts %}
    <script src="{{ url_for('static', filename='js/aj_budgets_create.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Create New Budget</h1>
    <form method="post", action="/api/v1/budgets/add">
        <div id="table-container">
            <div class="title-section">
                <label for="budget-title">Budget title</label>
                <input id="budget-title" type="text", autofocus>
            </div>
            <button class="cta-primary" id="start-btn">Start</button>
            <table id="budget-creation-table">
                <th>Category name</th>
                <th>Amount budgeted</th>
                <tr class="info-entry">
                    <td><input type="text" name='category_name'></td>
                    <td><input type="number" name='amount_budgeted'></td>
                    <td><button class="delete-btn">delete</button></td>
                </tr>
            </table>

            <button class="cta-secondary-outline" id="add-item-btn">+ Add item</button>
            <button class="cta-primary" type="submit" id="create-budget-btn">Create budget</button>

    </form>
{% endblock %}
