{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block more_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
{% endblock %}

{% block more_scripts%}
    <script src="{{ url_for('static', filename='js/expense_display.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="table-container">
        <h1>Expenses</h1> 
        <table id="budget_table">
            <thead>
                <tr>
                    <th>Expense Title</th>
                    <th>Category</th>
                    <th>Amount Spent</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button id="back_button">Back</button>
    </div>
{% endblock %}
