<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/tables.css">

    <title>Expenses</title>
</head>
<body>
    <div id="table-container">
        <h1>Expenses</h1> 
        <table id="budget_table">
            <thead>
                <tr>
                    <th>Expense Title</th>
                    <th>Category</th>
                    <th>Amount Spent</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button id="back_button">Back</button>
    </div>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/expense_display.js"></script>
</body>
</html>
