{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block more_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/expenses_create.css') }}">
{% endblock %}

{% block more_scripts %}
    <script src="{{ url_for('static', filename='js/add_expense.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Create New Expense</h1>
    <form id="budget-form">

        <div id="table-container">
            <button  class="cta-primary" id="start-btn">Start</button>
            <table id="expense-creation-table">
                <thead>
                    <tr>
                        <th>Item name</th>
                        <th>Category</th>
                        <th>Amount spent</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="info-entry">
                    <td><input type="text" name="item-name" required></td>
                    <td><input type="text" name="category-name" required></td>
                    <td><input type="number" name="amount-spent" required></td>
                    <td><button class="delete-btn">delete</button></td>
                </tr>
                </tbody>
            </table>
            <button class="cta-secondary-outline" id="add-item-btn" style="display: none;">+ Add item</button>
            <button class="cta-primary" type="submit" id="create-expense-btn" style="display: none;">Create expense</button>
        </div>
    </form>
{% endblock %}
