<!-- inherit from the base template -->
{% extends "base.html" %}

{% block title %}Spendwise{% endblock %}

{% block more_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/homepage.css') }}">
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div id="logo">
            <img src="../images/LOGO.png" alt="Logo" id="centered_image">
        </div>
        <div id="text1">
            At SpendWise, we help you manage your finances better and spend wisely.
        </div> 
        <div id="text2">
            Track your expenses, set budgets, and achieve your financial goals with ease.
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const navbarItems = document.getElementsByClassName('navbar_item');

        // Function to remove 'selected' class from all items
        function removeSelectedClass() {
            for (let i = 0; i < navbarItems.length; i++) {
                navbarItems[i].classList.remove('selected');
            }
        }

        // Function to save selected item in localStorage
        function saveSelectedNavItem(index) {
            localStorage.setItem('selectedNavbarItem', index);
        }

        // Function to set 'selected' class based on current page URL
        function setSelectedNavItem() {
            const path = window.location.pathname.split('/').pop(); // Get the current page
            for (let i = 0; i < navbarItems.length; i++) {
                const href = navbarItems[i].getAttribute('href');
                if (path === href) {
                    navbarItems[i].classList.add('selected');
                    saveSelectedNavItem(i);  // Save the selected item in localStorage
                    break;
                }
            }
        }

        // Event listeners to update selected navbar item when clicked
        for (let i = 0; i < navbarItems.length; i++) {
            navbarItems[i].addEventListener('click', function(event) {
                removeSelectedClass(); // Remove 'selected' class from all items
                this.classList.add('selected'); // Add 'selected' class to clicked item
                saveSelectedNavItem(i); // Save selected item index in localStorage
            });
        }

        // Set selected navbar item on page load
        setSelectedNavItem();
    });
    </script>
{% endblock %}
