{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block more_styles %}
    <link rel="stylesheet" type="text/css" href="../static/css/login_signup.css">
{% endblock %}

{% block more_scripts %}
    <script src="../static/js/signup.js"></script>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div id="form-container">
        <h1>Sign Up</h1>
        <form id="signup-form", method="post">
            <ul>
                <li>
                    <label class="input-label", for="first-name">First name</label>
                    <input type="text" id="first-name" name="first name" placeholder="First name", required, autofocus>
                </li>
                <li>
                    <label class="input-label", for="last-name">Last name</label>
                    <input type="text" id="last-name" name="last name" placeholder="Last name", required>
                </li>
                <li>
                    <label class="input-label", for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email", required>
                </li>
                <li>
                    <label class="input-label", for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password", required>
                </li>
                <li>
                    <label class="input-label", for="confirm-password">Password</label>
                    <input type="password" id="confirm-password" name="confirm password" placeholder="Confirm Password", required>
                </li>
            </ul>
            <button type="submit", value="sign_up">Sign Up</button>
            <p class="have-an-account">
                Already have a spendwise account? <a href="login">Log in</a>
            </p>
        </form>
    </div>
{% endblock %}
