/* Import css variables */
@import url('variables.css');

/* Ensure that the body and html elements occupy the full height of the viewport */
body {
	/* display: flex; */
	margin: 0;
	padding: 0;
	height: 100%;
	/* to create a flexbox container as to position navbar and content side-by-side. */
	background-color: var(--blue-200);
	font-family: var(--font-family-standard);
}

/* For styles that apply to all or most pages */
* {
	box-sizing: border-box;
}

/* nav bar on the left, and content on the right */
#single-page-split {
	display: flex;
	flex-direction: row;
}

#right-split {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: var(--blue-200);
}
