body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex; /* to create a flexbox container as to position navbar and content side-by-side. */
    background-color: #D1DFFA;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #124076;
  }
  
  #wel_msg {
    color: #07162c;
    font-size: 2em;
    font-weight: bold;
    margin: 30px;
  }
  
  #budget_button {
    margin: auto;
    margin-top: 50px;
  }
  
  #content {
    flex: 1; /* allow content to fill remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; 
  }
  
  button {
    border-style: none;
    color: #ffffff;
    height: 65px;
    width: 250px;
    border-radius: 20px;
    background-color: #124076;
    font-size: 15px;
	  font-weight: 500;
  }
  