/* import variables */
@import url('variables.css');

#table-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 900px;
	background-color: var(--blue-100);
	padding: 20px;
	border-radius: 10px;
}

input {
	border: 1px solid var(--blue-300);
	border-radius: 4px;
	font-size: var(--font-size-large);
	padding: 4px 4px 4px 4px;
}

button {
	border-radius: 5px;
	width: 60px;
	height: 30px;
	border: none;
	background-color: var(--blue-200);
}

/* initially, do not show the table, and the create budget button */
#budget-creation-table,
#create-budget-btn,
#add-item-btn {
  display: none;
}


#budget-title-section {
	display: flex;
	flex-direction: column;
}

.budget-info {
	display: flex;
	gap: 10px;
}

.delete-btn {
	margin-left: 30px;
	background-color: transparent;
	border: none;
}

.delete-btn:hover {
	background-color: var(--blue-200);
}

#add-item-btn,
#create-budget-btn {
	margin-top: 20px;
	width: 40%;
}

.new-budget-area {
	display: flex;
	flex-direction: column;
	align-items: center;
}
