/* For styling buttons */

@import url('variables.css');

/* For primary call to action buttons  */
button.cta-primary {
    border-style: none;
    color: hsl(220, 100%, 98%);
    height: var(--btn-height-normal);
	width: 100%;
    border-radius: var(--radius-normal);
    background-color: hsl(212, 50%, 30%);
    font-size: var(--font-size-normal);
	font-weight: var(--font-weight-bold);
}
