/* Ensure that the body and html elements occupy the full height of the viewport */
/* html, body {
    height: 100%;
    margin: 0;
} */

/* For styles that apply to all or most pages */
* {
	box-sizing: border-box;
}

/* nav bar on the left, and content on the right */
.single-page-split {
	display: flex;
	flex-direction: row;
}

.right-area {
	border: 100px solid black;
	width: 100h;
	background-color: antiquewhite;
}
