/* import variables */
@import url('variables.css');

.flex-container {
    display: flex;
    width: 100%;
  }

/* Style for the navigation bar */
#navbar {
    min-width: 220px;
    height: 100vh; /* Full height of the viewport */
    background-color: var(--blue-500);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* push logout to the bottom */
#navbar #logout {
	margin-top: auto;
}

/* but do not push everything else to the top */
#navbar #navbar_home {
	margin-top: auto;
}

/* Style for each navigation item */
.navbar_item {
    font-size: var(--font-size-large); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 40px;
    text-decoration: none;
}

#navbar_home.selected, #navbar_expenses.selected, #navbar_budget.selected {
    background-color: var(--blue-300);
    color: var(--blue-500);
}

.navbar_item:hover {
    background-color: var(--blue-200); /* Darker background on hover*/
    color:var(--blue-500);
	text-decoration: underline;
}

/* animate on click */
.navbar_item:active {
	transform: scale(var(--scale-factor-large));
	border-radius: var(--radius-small);
}

#content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

}

/* Style for the centered image */
#centered_image {
    width: 100%px;
    height: auto;
    object-fit: contain;
}
