:root {
	/* font sizes */
	--font-size-xsmall: 14px;
	--font-size-small: 16px;
	--font-size-normal: 18px ;
	--font-size-large: 20px;
	--font-size-xlarge: 24px;

	/* fonts */
	--font-family-standard: 'Noto Sans', 'sans-serif';
	--font-weight-bold: 600;

	/* radii */
	--radius-normal: 10px;
	--radius-large:20px;

	/* buttons */
	--btn-height-normal: 60px;

	/* colors from pallette */
	--blue-600: hsl(213, 50%, 10%);
	--blue-500: hsl(212, 50%, 30%);
	--blue-400: hsl(213, 50%, 45%);
	--blue-300: hsl(213, 70%, 72%);
	--blue-200: hsl(213, 80%, 90%);
	--blue-100: hsl(220, 100%, 98%);
}
