:root {
	/* font sizes */
	--font-size-xsmall: 14px;
	--font-size-small: 16px;
	--font-size-normal: 18px ;
	--font-size-large: 20px;
	--font-size-xlarge: 24px;

	/* fonts */
	--font-family-standard: 'Noto Sans', 'sans-serif';
	--font-weight-bold: 600;

	/* radii */
	--radius-normal: 10px;
	--radius-large:20px;

	/* buttons */
	--btn-height-normal: 60px;
}
