:root {
	/* font sizes */
	--font-size-xsmall: 14px;
	--font-size-small: 16px;
	--font-size-normal: 18px ;
	--font-size-large: 20px;
	--font-size-xlarge: 24px;
	--font-size-xxlarge: 30px;

	/* fonts */
	--font-family-standard: 'Noto Sans', 'sans-serif';
	--font-weight-bolder: 800;
	--font-weight-bold: 600;
	--font-weight-normal: 400;

	/* radii */
	--radius-small: 5px;
	--radius-normal: 10px;
	--radius-large: 20px;

	/* general spacing */
	--space-xxsmall: 16px;
	--space-xsmall: 24px;
	--space-small: 32px;
	--space-normal: 48px;
	--space-large: 64px;
	--space-xlarge: 96px;

	/* buttons */
	--btn-height-normal: 60px;

	/* transformations */
	--scale-factor-small: 0.97;
	--scale-factor-large: 0.90;

	/* colors from pallette */
	--blue-600: hsl(213, 50%, 10%);
	--blue-500: hsl(212, 50%, 30%);
	--blue-400: hsl(213, 50%, 45%);
	--blue-300: hsl(213, 70%, 72%);
	--blue-200: hsl(213, 80%, 90%);
	--blue-100: hsl(220, 100%, 98%);

	--yellow-500: hsl(50, 100%, 20%);
	--yellow-400: hsl(50, 89%, 45%);
	--yellow-300: hsl(50, 89%, 60%);
	--yellow-200: hsl(50, 89%, 78%);
	--yellow-100: hsl(50, 89%, 90%);

	--grey-600: hsl(216, 10%, 20%);
	--grey-500: hsl(216, 10%, 30%);
	--grey-400: hsl(216, 10%, 45%);
	--grey-300: hsl(216, 10%, 78%);
	--grey-200: hsl(216, 10%, 92%);
	--grey-100: hsl(216, 10%, 97%);

	--green-500: hsl(83, 35%, 15%);
	--green-400: hsl(83, 35%, 25%);
	--green-300: hsl(83, 35%, 45%);
	--green-200: hsl(83, 35%, 60%);
	--green-100: hsl(83, 35%, 80%);

	--orange-500: hsl(31, 90%, 20%);
	--orange-400: hsl(31, 100%, 30%);
	--orange-300: hsl(31, 81%, 45%);
	--orange-200: hsl(31, 80%, 75%);
	--orange-100: hsl(33, 90%, 90%);

	--red-500: hsl(0, 90%, 20%);
	--red-400: hsl(0, 70%, 40%);
	--red-300: hsl(0, 80%, 70%);
	--red-200: hsl(0, 90%, 85%);
	--red-100: hsl(0, 90%, 94%);
}
