{% extends "base.html" %}

{% block title %}Create Budget{% endblock %}

{% block more_styles %}
    <link rel="stylesheet" href="../static/css/budgets_create.css">
{% endblock %}

{% block more_scripts %}
    <script src="../static/js/aj_budgets_create.js"></script>
{% endblock %}

{% block content %}
    <h1>Create New Budget</h1>
    <div id="form_container">
        <form id="budget_form", method="post", action="/api/v1/budgets/add">
            <label for="budget_title">Budget Title</label><br>
            <input type="text" id="budget_title" name="budget_title"><br>
            <label for="category_id">Category Name</label><br>
            <input type="number" id="category_id" name="category_id"><br>
            <label for="amount_budgeted">Amount Budgeted</label><br>
            <input type="number" id="amount_budgeted" name="amount_budgeted"><br>
            <button type="submit" id="submit_button">Submit</button>
            <button type="button" id="done_button">Done</button>
            <button type="button" id="back_button">Back</button>
        </form>
    </div>
{% endblock %}
