{% extends "base.html" %}

{% block more_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors/maintenance.css')}}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="maintenance-message">
        <div class="generic-paragraph leading-message">👋 Hello, and thanks for visiting.</div>
        <div class="generic-paragraph">There's no one here at the moment,</div>
        <div class="generic-paragraph">because we are down for maintenance.</div>
        <div class="generic-paragraph">Do check back again this Sunday.</div>
    </div>
{% endblock %}
